body {
    padding-top: 70px;
}

.register-form-width {
    width: 30%;
}

.padding-tab-content {
    padding-top: 10px;
}

.form-with-recover {
    width: 20%;
}

.field-insertWord {
    width: 35%;
}

.field-description {
    width: 35%;
    height: 30%;
}